div.geshifilter {background-color: #000000;}


/* http://nicksergeant.com/blog/everything-else/sunburst-geshi-css-pack */
li.li2 { font-style: italic;}
.kw1 {color: #E06645; }
.kw2 {color: #85D04B; }
.kw3 {color: #D9CF81;}
.co0 {color: #808080; font-style: italic;}
.co1 {color: #808080; font-style: italic;}
.co2 {color: #808080; font-style: italic;}
.coMULTI {color: #808080; font-style: italic;}
.es0 {color: #EEBE5B; }
.br0 {color: #FFF;}
.sy0 {color: #E06645;}
.st0, .xml.geshifilter-xml .st0 {color: #47B340;}
.nu0 {color: #cc66cc;}
.me1 {color: #0085CD;}
.me2 {color: #0085CD;}
.re0, .xml.geshifilter-xml .re0 {color: #8594A8;}
.re1, .xml.geshifilter-xml .re1, .xml.geshifilter-xml .re2 {color: #0085CD;}
.geshifilter-css .re1 {color: #A16D3A;}
.geshifilter-css .kw1 {color: #C7AE71;}
.geshifilter-css .re3, .geshifilter-css .nu0 {color: #ED7831 !important;}
.geshifilter-css .kw2,  pre.geshifilter-css {color: #FBEF94;}
.geshifilter-html4strict .kw2, .geshifilter-html4strict .kw3, .geshifilter-html4strict .sy0 {color: #79BAFB;}
.geshifilter-html4strict .kw3 {color: #DAD081;}
.ln-xtra, li.ln-xtra, div.ln-xtra {color: #cc0; background-color: #ffc;}
